.topBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  font-size: 1vmax;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.topBar > h1 {
  padding: 1vmax 1.7vmax;
  font-size: 1.5vmax;
  font-weight: bolder;
  border-right: 1px solid rgb(208, 208, 208);
}
.topBar > span {
  margin-left: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBar > span > p {
  margin-left: 5px;
}
.topBar > span > a {
  color: #5972eb;
  margin-left: 5px;
}
.topBar > span > a:last-child:hover {
  border-bottom: 1px solid #5972eb;
}
.topBar > svg {
  cursor: pointer;
  margin-left: 15px;
}

/*  */
.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0vmax;
  left: 0;
  font-size: 1.1vmax;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 0.25vmax;
}
.SideBar > div:last-child {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.SideBar > div:last-child > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5vmax;
}
.SideBar > div:first-child {
  margin-top: 4.5vmax;
  cursor: pointer;
  font-size: 1.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7vmax;
  transition: 0.5s all ease;
}
.SideBar > div:last-child > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 0.7vmax;
  cursor: pointer;
  padding: 0.7vmax;
  transition: 0.5s all ease;
}
.SideBar > div:last-child > ul > li > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.SideBar > div:first-child:hover,
.SideBar > div:last-child > ul > li:hover {
  background: #5f49f41a;
  border-radius: 7px;
  color: #5f49f4;
}
.active {
  background: #5f49f41a;
  border-radius: 7px;
  color: #5f49f4;
}

/*  */
.AdminPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3vmax;
  padding-left: 8vmax;
  width: 100%;
  background-color: #f2f2f2;
}

/*  */
.block_1 {
  margin-left: 5vmax;
  margin-top: 2vmax;
  width: 70%;
  transform: translateX(5vmax);
}
.block_1 > h1 {
  transform: translateX(2vmax);
}
.block_1 > div {
  height: 22vh;
  margin-top: 1vmax;
}
.block_1 > div > div {
  height: 100%;
  transition: 0.5s all ease;
}
.block_1 > div > div:hover {
  transform: scale(1.05);
}
.block_1 > div > div:first-child {
  width: 30%;
}
.block_1 > div > div:last-child {
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/*  */
.block_2 {
  margin-top: 1.5vmax;
  width: 100%;
  transition: 0.5s all ease;
  overflow: hidden;
}
.block_2:hover {
  transform: scale(1.05);
}
.block_2 > div:first-child {
  top: 1.3vmax;
  left: 14vmax;
  width: 50%;
  z-index: 200;
}
.block_2 > div:first-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.block_2 > div:first-child > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.legend1,
.legend2 {
  font-size: 1vmax;
  font-weight: 500;
}
.legend1 > svg {
  color: #41b8d5;
  font-size: 3vmax;
}
.legend2 > svg {
  color: #2f5f98;
  font-size: 3vmax;
}
.legend3 {
  margin-left: 25px;
  font-size: 1vmax;
}
.BarChart {
  height: 45vh;
  width: 66%;
  padding: 1.2vmax;
  padding-top: 4vmax;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transform: translateX(12vmax);
}

.block_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 66%;
  margin-left: 12vmax;
  background-color: white;
  border-radius: 10px;
  margin-top: 1.5vmax;
  padding: 2vmax;
  height: 50vh;
  transition: 0.5s all ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.block_3:hover {
  transform: scale(1.05);
}
.block_3 > h1 {
  margin-bottom: 2vmax;
}
.block_3 > div:first-child > div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.block_3 > div:first-child > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block_3 > div {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.block_3 > div > div {
  display: flex;
  justify-content: center;
  width: 45%;
  align-items: center;
  height: 100%;
  object-fit: contain;
}
.block_3 > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.block_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12vmax;
  margin-top: 1.5vmax;
  margin-bottom: 1.5vmax;
  width: 66%;
}
.block_4 > div {
  background-color: white;
  padding: 1vmax;
  border-radius: 10px;
  width: 47%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: 0.5s all ease;
}
.block_4 > div:hover {
  transform: scale(1.05);
}
